.env
*.csv
*.pem
*.key
chroma_db/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.Python
notebook/.ipynb_checkpoints/
notebook/.deepeval/
airflow_settings.yaml
airflow.cfg
airflow.db
airflow-webserver.pid
webserver_config.py
logs/
astro
.astro/
.DS_Store
creds.txt